extends layout.pug 
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/auth-index.js" type="module" )
  script(src="/javascripts/metabar-menu.js" type="module")
block content
  div(class="topbar topbarA")
    div(class='topcontent')
        img(src="../images/codexLogo.png" id="logo" alt="LOGO" )
        nav()
            ul(id="navbar")
                li() 
                    form(method="get" action="/stories/new")
                        Button(class='login loginA') Write a Story
                li()
                    div(class='dropdown')
                        div(class='outernamediv')
                            button
                                img(src="../images/defaultavatar.jpeg" class="profpic" alt="")
                            div(class='namediv')
                                p(class='profname') #{locals.user.username}
                                p(class='profname') #{locals.user.email}
                        div(class='mid-dropdown')
                            form(method='get' action='/')
                                button(href="" class='dselect') Stories
                            form(method='post' action='/logout')
                                button(class='dselect') Sign Out
                li()
                    a(class="profileMenu")
                        img(src="../images/defaultavatar.jpeg" class="metabar-menu profpic" alt="")
  div(class='spacer') 
  div(class='end-content')               
    div(class='follow-recommend')
        div(class='sub-navbar') 
            button(class='snb snButton1') Following 
            button(class='snbOff snButton2') Recommended For You
        div(class='reco-content')
            each posts in post
                div(class='story-grid-story')
                    div(class="inner-story")
                        div(class='author')
                            div(class="profile")
                                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                                p(class='auth-name')=posts.User.username
                            a(id='aa' href='/stories/' + posts.id)=posts.heading
                            p(class='meta-data')=posts.subText
                            p(class='date')=posts.createdAt.toLocaleDateString("en-US", { month: "short", day: "numeric" })
                    img(src=posts.headerImage class='listimg' alt="404")
        div(class='follow-content')
            each posts in following
                div(class='story-grid-story')
                    div(class="inner-story")
                        div(class='author')
                            div(class="profile")
                                img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                                p(class='auth-name')=posts.User.username
                            a(id='aa' href='/stories/' + posts.id)=posts.heading
                            p(class='meta-data')=posts.subText
                            p(class='date')=posts.createdAt.toLocaleDateString("en-US", { month: "short", day: "numeric" })
                    img(src=posts.headerImage class='listimg' alt="404")
            div(class='empty-follow')
                p Stories from people you follow will appear here!
                button(class='login browse') Browse Recommended Stories
    div(class='e-c-2')
        div(id='eop-div')
        include fixed-footer.pug
