extends layout.pug 
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" )

block content
  div(class="topbar topbarA")
    div(class='topcontent')
        img(src="../images/codexLogo.png" id="logo" alt="LOGO" )
        nav()
            ul(id="navbar")
                li() 
                    a(href="/stories/new") Write a Story
                    div(class='dropdown')
                        div(class='outernamediv')
                            button
                                img(src="../images/defaultavatar.jpeg" class="profpic" alt="")
                            div(class='namediv')
                                p(class='profname') #{username}
                                p(class='profname') #{email}
                        a(href="" class='dselect') Stories
                        form(method='post' action='/logout')
                            button(class='dselect') Sign Out
                li()
                    a(class="profileMenu")
                        img(src="../images/defaultavatar.jpeg" class="metabar-menu profpic" alt="")
  div(class='follow-recommend')
    div(class='sub-navbar') 
        button(class='snb snButton1') Following 
        button(class='snbOff snButton2') Recommended For You
    div(class='reco-content')
      each posts in post
        div(class='story-grid-story')
            div(class="inner-story")
              div(class='author')
                div(class="profile")
                  img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                  p(class='auth-name')=posts.User.username
                a(id='aa' href='/stories/' + posts.id)=posts.heading
                p(class='meta-data')=posts.subText
                p(class='date')=posts.createdAt.toDateString()
            img(src=posts.headerImage class='listimg' alt="404")
    div(class='follow-content')
        each posts in following
            div(class='story-grid-story')
                div(class="inner-story")
                    div(class='author')
                        div(class="profile")
                            img(class='profpic' src="../images/defaultavatar.jpeg" alt="P")
                            p(class='auth-name')=posts.User.username
                        a(id='aa' href='/stories/' + posts.id)=posts.heading
                        p(class='meta-data')=posts.subText
                        p(class='date')=posts.createdAt.toDateString()
                img(src=posts.headerImage class='listimg' alt="404")
        div(class='empty-follow')
            p Stories from people you follow will appear here!
            button(class='login browse') Browse Recommended Stories
