extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/story.css")
  //- add page specific js
  script(src="/javascripts/story.js" type="module" defer)

block content
  header
    .container
      .navbar.sans-serif
        div.navbar-left
          .name #{story.user.username}
          .followers #{story.user.Followers.length} Followers
          button.button.contained.rounded.follow-button(data-author-id=story.user.id data-follow-id=userFollow.id)
            | #{userFollow.id ? "Unfollow" : "Follow"}
        nav.navbar-right
          if locals.authenticated
            //- TODO authenticated nav
          else
            a(href="/login" alt="Sign in").button.text Sign in
            a(href="/signup" alt="Get started").button.outlined.rounded Get started
          a(href="/" alt="CodeX Home")
            img.logo(src="/images/codexLogoShort.png" alt="CodeX")

  .content-container
    main
      .container
        if story.headerImage
          img.story-image(src=story.headerImage)
        h1.title=story.heading
        if story.subText
          h2.subtitle=story.subText
        div.story-details
          .story-author=story.user.username
          .story-date=story.createdAt
        div#story-body
          | !{story.mainText}
        div.story-footer
          div.left
            div.likes
              a#like-post(data-like-id=userLike.id data-liked=!!userLike.id data-story-id=story.id)
                i.fa-solid.fa-hands-clapping
              a#view-likes #{likes.length}
            div.comments
              a#comment
                i.fa-solid.fa-comment
                span #{comments.length}
    footer
      .container
        .content-wrapper
          a.inherit-color.sans-serif(href="/" alt="Home")
            img.logo(src="/images/codexLogo.png" alt="CodeX")
          nav
            a.inherit-color.sans-serif(href="/about") About
            a.inherit-color.sans-serif(href="/stories/new") Write
