extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/story.css")
  //- add page specific js

block content
  .content-container
    main
      .container
        if story.headerImage
          img.story-image(src=story.headerImage)
        h1.title=story.heading
        if story.subText
          h2.subtitle=story.subText
        div.story-details
          .story-author=story.user.username
          .story-date=story.createdAt
        div#story-body
          | !{story.mainText}
    footer
      .container
        .content-wrapper
          a.inherit-color.sans-serif(href="/" alt="Home")
            img.logo(src="/images/codexLogo.png" alt="CodeX")
          nav
            a.inherit-color.sans-serif(href="/about") About
            a.inherit-color.sans-serif(href="/stories/new") Write
